In [1]:
import pandas as pnd
import numpy as nmp
from sklearn.model_selection import train_test_split ,GridSearchCV,cross_val_score
from sklearn.metrics import r2_score , mean_squared_error , mean_absolute_error
import xgboost as xgb
import pickle

In [2]:

data = pnd.read_excel(r"C:\Users\sbura\Desktop\Bitirme Projesi\Model Tabloları\Mazda.xlsx")
data.drop(["Unnamed: 0"],axis=1,inplace=True)
data

,Fiyat,Yıl,Motor Gücü,Motor Hacmi,Kilometre,Boya,Değişen,Yakıt_Benzin,Yakıt_Dizel,Yakıt_LPG & Benzin,...,Model_1.8 TE,Model_2.0,Model_2.0 Exclusive,Model_2.0 GLE,Model_2.0 GLX,Model_2.0 GT,Model_2.0 GTS,Model_2.0 LX,Model_2.0 Sportive,Model_2.5
0,47000,1991,90,1597,302000,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,76000,1994,90,1597,403000,0,2,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,48500,1992,88,1597,385000,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,233000,2011,105,1598,205000,2,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,445000,2017,105,1499,60000,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,163000,2006,105,1598,270000,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
275,185000,2005,105,1598,280000,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
276,48000,1993,88,1597,460000,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
277,400000,2015,120,1496,91000,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
278,70000,1994,115,1991,307317,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0

In [3]:
x = data.drop("Fiyat",axis=1)
y = data["Fiyat"]
x_train, x_test , y_train, y_test = train_test_split(x,y,test_size=0.30,random_state=42)
xgb_tuned = xgb.XGBRegressor(colsample_bytree = 0.5,learning_rate = 0.1,max_depth = 3,n_estimators = 100)
xgb_tuned.fit(x_train,y_train)
pred = xgb_tuned.predict(x_test)

In [4]:
model_dosyasi= "Mazda.pickle"
pickle.dump(xgb_tuned, open(model_dosyasi, 'wb'))