In [1]:
import pandas as pnd
import numpy as nmp
from sklearn.model_selection import train_test_split ,GridSearchCV,cross_val_score
from sklearn.metrics import r2_score , mean_squared_error , mean_absolute_error
import xgboost as xgb
import pickle

data = pnd.read_excel(r"C:\Users\sbura\Desktop\Bitirme Projesi\Model Tabloları\Porsche.xlsx")
data.drop(["Unnamed: 0"],axis=1,inplace=True)
data

,Fiyat,Yıl,Motor Gücü,Motor Hacmi,Kilometre,Boya,Değişen,Yakıt_Benzin,Yakıt_Dizel,Yakıt_LPG & Benzin,...,Model_E-Hybrid,Model_GT2 RS,Model_GT3,Model_GT3 RS,Model_GTS,Model_S,Model_S Hybrid,Model_Targa 4 GTS,Model_Turbo,Model_Turbo S
0,2275000,2011,300,2967,130000,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,1925000,2010,400,4806,51000,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1640000,2014,251,2501,69000,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9100000,2021,450,2981,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1560850,2012,300,2967,200000,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,1690000,2012,326,2501,115117,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
151,2450000,2014,300,2967,174000,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
152,1850000,2012,300,2967,151000,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
153,3900000,2013,400,3800,79169,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
154,1650000,2012,300,2967,194000,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [2]:
x = data.drop("Fiyat",axis=1)
y = data["Fiyat"]
x_train, x_test , y_train, y_test = train_test_split(x,y,test_size=0.30,random_state=42)
xgb_tuned = xgb.XGBRegressor(colsample_bytree = 1,learning_rate = 0.2,max_depth = 2,n_estimators = 200)
xgb_tuned.fit(x_train,y_train)
pred = xgb_tuned.predict(x_test)

In [3]:
model_dosyasi= "Porsche.pickle"
pickle.dump(xgb_tuned, open(model_dosyasi, 'wb'))