In [1]:
import pandas as pnd
import numpy as nmp
from sklearn.model_selection import train_test_split ,GridSearchCV,cross_val_score
from sklearn.metrics import r2_score , mean_squared_error , mean_absolute_error
import xgboost as xgb
import pickle

data = pnd.read_excel(r"C:\Users\sbura\Desktop\Bitirme Projesi\Model Tabloları\Volvo.xlsx")
data.drop(["Unnamed: 0"],axis=1,inplace=True)
data

,Fiyat,Yıl,Motor Gücü,Motor Hacmi,Kilometre,Boya,Değişen,Yakıt_Benzin,Yakıt_Dizel,Yakıt_LPG & Benzin,...,Model_2.4 D5,Model_2.4 D5 Executive,Model_2.4 D5 Premium,Model_2.4 D5 VIP,Model_2.5 R,Model_2.5 T5,Model_2.8 T6,Model_2.9,Model_2.9 T6 Executive,Model_3.0 T6 VIP
0,335950,2013,115,1560,260800,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,160000,2005,100,1596,249000,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,113500,2004,200,1948,237000,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,398000,2013,115,1560,162750,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,110000,2000,122,1783,336000,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
552,377500,2015,115,1560,152000,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
553,97000,2002,109,1587,270000,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
554,308000,2011,163,1984,278000,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
555,542000,2018,152,1498,39000,2,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
556,137000,2004,109,1587,245000,13,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [2]:
x = data.drop("Fiyat",axis=1)
y = data["Fiyat"]
x_train, x_test , y_train, y_test = train_test_split(x,y,test_size=0.30,random_state=42)
xgb_tuned = xgb.XGBRegressor(colsample_bytree = 1,learning_rate = 0.1,max_depth = 2,n_estimators = 300)
xgb_tuned.fit(x_train,y_train)
pred = xgb_tuned.predict(x_test)

In [3]:
model_dosyasi= "Volvo.pickle"
pickle.dump(xgb_tuned, open(model_dosyasi, 'wb'))